process {


    withName: 'FASTK.*' {
        ext.args   = '-t'
    }
    withName: 'FASTK1' {
        ext.prefix = { "${meta.id}_sampleA" }
    }
    withName: 'FASTK2' {
        ext.prefix = { "${meta.id}_sampleB" }
    }
    withName: 'test_merquryfk_katcomp_pdf:MERQURYFK_KATCOMP' {
        ext.args   = '-pdf'
    }

}
